<div class="box">
  <div class="row">
      <div class="col-md-5 col-sm-12">
          <img src="{{Data.image}}" alt="sas">
      </div>
      <div class="col-md-7 col-sm-12">
          <div class="info">
              <ul class="list-unstyled">
                  <li><strong>Title : </strong>{{Data.title}}</li>
                  <li><strong>Category : </strong>{{Data.category}}</li>
                  <li><strong>Description : </strong>{{Data.description}}</li>
              </ul>
          </div>
      </div>
  </div>
</div>
