<div class="item">
<div  routerLink="/detailes/{{item.id}}">
  <img src="{{item.image}}" alt="">
  <div class="body">
  <h4>{{item.title}}</h4>
  <p>{{item.description}}</p>
</div>
</div>
<div  class="px-3 mb-2 d-flex justify-content-between align-item-center" >
  <button style="padding: 10px;" class="btn btn-success" *ngIf="!addbutton" (click)="addbutton =true">Add to cart</button>
  <div class="d-flex w-50 " *ngIf="addbutton"  >
    <input type="number" class="form-control" [(ngModel)]="amount">
    <button class="btn btn-danger"  style="margin-left:5px ;" (click)="add();addbutton =false" >Add</button>
</div>
  <span>{{item.price}}$</span>

</div>
</div>
